<!-- a.foresty News list 컴포넌트 -->

<!-- 기본 News list -->
<article class="news-list" data-news="news-1">
  <div class="news-list__image-container">
    <div class="news-list__image" style="background-image: url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');"></div>
    <div class="news-list__category">환경</div>
  </div>
  <div class="news-list__text">
    <h3 class="news-list__title">숲의 본질을 담은 도시의 쉼표</h3>
    <div class="news-list__meta">
      <span class="news-list__date">2025.09.18</span>
      <span class="news-list__source">조선비즈</span>
    </div>
  </div>
</article>

<!-- Large 사이즈 News list -->
<article class="news-list news-list--large" data-news="news-2">
  <div class="news-list__image-container">
    <div class="news-list__image" style="background-image: url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');"></div>
    <div class="news-list__category">도시</div>
  </div>
  <div class="news-list__text">
    <h3 class="news-list__title">숲의 본질을 담은 도시의 쉼표</h3>
    <div class="news-list__meta">
      <span class="news-list__date">2025.09.18</span>
      <span class="news-list__source">조선비즈</span>
    </div>
  </div>
</article>

<!-- Small 사이즈 News list -->
<article class="news-list news-list--small" data-news="news-3">
  <div class="news-list__image-container">
    <div class="news-list__image" style="background-image: url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');"></div>
    <div class="news-list__category">뉴스</div>
  </div>
  <div class="news-list__text">
    <h3 class="news-list__title">숲의 본질을 담은 도시의 쉼표</h3>
    <div class="news-list__meta">
      <span class="news-list__date">2025.09.18</span>
      <span class="news-list__source">조선비즈</span>
    </div>
  </div>
</article>

<!-- 링크가 있는 News list -->
<a href="#" class="news-list__link" data-news="news-4">
  <article class="news-list">
    <div class="news-list__image-container">
      <div class="news-list__image" style="background-image: url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');"></div>
      <div class="news-list__category">기술</div>
    </div>
    <div class="news-list__text">
      <h3 class="news-list__title">숲의 본질을 담은 도시의 쉼표</h3>
      <div class="news-list__meta">
        <span class="news-list__date">2025.09.18</span>
        <span class="news-list__source">조선비즈</span>
      </div>
    </div>
  </article>
</a>

<!-- 동적 News list (JavaScript로 생성) -->
<div class="news-list" id="dynamic-news" data-image="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" data-title="동적으로 생성된 뉴스입니다." data-date="2025.09.18" data-source="테크노바" data-category="기술"></div>
